<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ .artist.Name }}</title>
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
  <link rel="stylesheet" href="/static/style.css">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="/static/favicon.ico" alt="Logo" style="height: 30px; margin-right: 5px;">
        Groupie tracker
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="d-flex flex-column flex-md-row align-items-center justify-content-between w-100 mt-2 py-2">

          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="themeSwitch">
            <label class="form-check-label" for="themeSwitch">Dark Mode</label>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <div class="container" style="margin-top: 90px;">
    <h2>Details <b>{{ .artist.Name }}</b></h2>

    <div class="row">
      <div class="col-3">
        <img src="{{ .artist.Image }}" class="card-img-top" alt="Band image"
          style="width: 150px; height: 150px; object-fit: cover;">
        <p><b>Creation date: </b>{{ .artist.CreationDate }}</p>
        <p><b>Members:</b></p>
        <ul>
          {{ range .artist.Members }}<li>{{ . }}</li>{{ end }}
        </ul>
      </div>

      <div class="col-3">
        <p><b>Locations:</b></p>
        <ul class="list-group">
          {{ range $location, $dates := .dates.DateLocations }}
          <li class="list-group-item d-flex justify-content-between align-items-center"
            onclick="handleLocationClick(this)">
            <span class="location-name">{{ $location }}</span>
            <span class="badge badge-primary badge-pill">{{ len $dates }}</span>
          </li>
          <ul class="list-group collapse">
            {{ range $dates }}
            <li class="list-group-item">{{ . }}</li>
            {{ end }}
          </ul>
          {{ end }}
        </ul>
      </div>
      <div class="col-6">
        <div id="map" style="height: 400px;"></div>
      </div>
    </div>
  </div>

  <footer class="bg-dark text-white text-center py-2" style="font-size: 0.8rem;">
    <p class="mb-0">&copy; 2025 Groupie Tracker</p>
    <p class="mb-0">by Azamat | Danial | Syrym</p>
  </footer>


  <script src="/static/script.js"></script>
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
</body>

</html>